*{   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    height: 100%;
}

#container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100%;
    overflow: hidden;
}
/*  Menu Deisgn */
#menu{   
    background-color:whitesmoke; 
}

.brand-logo{
    padding: 0 30px;
}

.brand-logo img{
    height: 150px;
    width: 150px;
    margin-top:-20px ;
}

.menu-item a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 30px;
    margin: 12px 0;
    color: rgb(128,129,129);
    font-weight: 300;
}

.menu-item a:hover{
    background: rgb(250,212,218);
}


/*center box- food items*/

#food-container{
    background-color: whitesmoke;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}

#header{
     
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
    z-index: 1;
    
}
::-webkit-scrollbar{
    display: none;
}
 
 .add-box{
     
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

#header .address{
    font-size:20px;
    border:1px solid indianred;
    color: indianred;
    padding: 5px 10px;
    border-radius: 5px;
    width:150px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    cursor:pointer;
}

.util i{
    font-size:20px;
    border:1px solid crimson;
    color: crimson;
    padding: 5px 10px;
    border-radius: 20px;
    width:150px;
     margin: 0 15px;
     
    cursor:pointer;
}

.util i:active{
    color: whitesmoke;
    background-color: crimson;
    
}

.toggle-heart{
    background-color: red;
    color: white;
}



#food-items,#category-list,#cart-page,#checkout{
    display: flex;
    flex-direction: column;
}

#biriyani,#chicken,#paneer,#vegetable,#chinese,#south-indian{
    margin:40px;
}

#paneer .item-card,#vegetable .item-card{
    background-color: rgb(218,253,188);
     
}

#chinese .item-card,#south-indian .item-card{
    background-color: rgb(221,243,243);
}

#category-name,#item-menu{
    margin :10px;
    font-size:35px;
    color: crimson;
}

.item-card{
    width: 190px;
    height:230px;
    padding: 10px;
    margin: 10px ;
    display: inline-block;
    border-radius: 5px;
    background: rgb(253,221,226 );
    cursor:pointer;
    transition : 0.5s all ease-in-out;
}

.card-top{
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
}

#rating{
    padding: 7px;
    color: goldenrod;
    background-color:black;
    border-radius: 14px;
}

.fa-heart-o{
    padding: 9px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
}


.item-card img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom:15px ;
    transition: 0.5s all ease-in-out;
}

.item-card:hover {
    transform: scale(1.1);
}
.item-card:hover img{
    transform: scale(1.2);
}



.item-name{
    margin: 6px 0;
    font-weight: 600;
    color: darkslategray;
    font-size: 18px;
}

.item-price{
    margin: 0;
    color:rgb(2,27,27);
    font-weight: 50;
    font-size: 18px;
}

.user i{
    font-size:20px;
    color: crimson;
    border: 1px solid crimson;
    padding:5px 10px ;
    width:150px;
    border-radius: 5px;
    
    cursor: pointer;
}

.user i:active{
    color: whitesmoke;
    background-color: crimson;
    
}

#cart{
    background-color: whitesmoke;
    padding-right: 30px;
    overflow-y: scroll;
}

#category-list p{
    font-size: 35px;
    color: crimson;
     
}



.taste-header{
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top:0;
}

.item-menu{
    margin: 0;
    font-size: 30px;
    margin-top: 40px;
    color: indianred;
}

.border{
    width: 80px;
    height: 4px;
    margin-bottom:30px ;
    border-radius: 2px;
    background-color: coral;
}

.list-card{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 25px;
    cursor:pointer;
    font-size: 20px;
    transition: 0.3s all ease-in-out;
}
.list-card:hover{
    background-color: rgb(255,216,222);
}
.list-card:hover img{
    transition: 0.5s all ease-in-out;
    transform: scale(1.5);
}
.list-card img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.list-name{
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(94,43,43);
    padding-left: 10px;
}

 
#cart-page{
    background-color: white ;
    margin: 40px 10px;
    margin-right: 50px;
    padding:20px 30px;
    padding-bottom: 30px;
    position: relative;
}

#cart-title{
    font-size: 35px;
    margin: 0;
    color: indianred;

}

#cart-page table{
    width:100%;
    margin-top:20px;
    text-align: center;
}

#cart-page table thead td{
    font-size: 25px;
    padding-bottom: 10px;
}

#m-total-amount{
    display: none;
}

#cart-page table tbody td{
    padding: 10px 0;
    font-size: 20px;
}

#cart-page table tbody button{
    outline: none;
    border: none;
    font-size: 16px;
    background-color: none;
    background-color: lightcoral;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
    padding:3px 8px ;
}

#cart-page table tbody img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

 
#checkout{
    margin-top: 40px  0;
    text-align: center ;
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    flex-direction: column;
     

}


#checkout p{
    margin : 15px;
     

}

#total-price,#total-item{
    font-size: 25px;
    color: indianred;
}

.cart-btn{
    outline: none;
    border:none;
    background-color: crimson;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;
}

#delivery{
    font-size: 18px;
    color: limegreen;
}

.cart-btn:active{
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
}*
#category-list,#food-items{
    display: flex;
}
#cart-page,#checkout{
    display: flex;
}
.toggle-heart{
background-color: red;
color: white;
}


@media only screen and (max-width:800px){
    
    #cart-page,#menu,#cart,#checkout,#header{
        display: none;
    }

    #container{

        display: grid;
        grid-template-columns: 100%;
    }
    
    .item-card,.card-top,#rating,.add-to-cart,.item-card img,.item-name,.item-price{
        width: 30%;
        height: 30%;
    }
    

}
.taste-header .user{
    position : sticky;
}

